.parent{
    border: 2px solid black;
    width: 1000px;
    height: 800px;
    background-color: white;
}
footer{
    
    width: 1000px;
    height: 50px;
    background-color: lightblue;
    text-align: left;
}