.outer-box {
    border: 3px solid black;   
    padding: 20px; 
    margin-top: 0%;           
}

.inner-box {
    background-color: blue;
    padding: 40px;
}

.content-box {
    background-color: yellow;
    padding: 50px;
    font-size: 18px;
    text-align: center;
}

