#box1{
    width: 200px;
    height: 100px;
    background-color: coral;
    font-size: 2em;
    margin: auto;
    text-align: center;
    line-height: 100px;
    border: 2px double black;
    margin-left: 20px;
}
#box2{
    width: 100px;
    height: 200px;
    background-color: yellowgreen;
    font-size: 2em;
    margin: auto;
    text-align: center;
    line-height: 100px;
    border: 2px solid black;
    margin-left: 20px;
}
#box3{
    width: 150px;
    height: 150px;
    background-color: lightblue;
    font-size: 2em;
    margin: auto;
    text-align: center;
    line-height: 100px;
    border: 2px dotted black;
    margin-left: 20px;
}
#box4{
    width: 250px;
    height: 80px;
    background-color: lightgreen;
    font-size: 2em;
    margin: auto;
    text-align: center;
    line-height: 100px;
    border: 2px groove black;
    margin-left: 20px;
}
body{
    background-color: lightgray;
}