*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    color: blue;
    background-color: yellow;
    text-align: center ;
    font-size: 30px;
    padding: 10px;

}
.rk{
    color: green;   
    background-color: pink;

}
#l1{
    color: red;
    background-color: aliceblue;
}
body{
    background-color: lightgray;
}
div{
    width: 200px;
    height: 100px;
    background-color: coral;
    font-size: 2em;
    margin: auto;
    text-align: center;
    line-height: 100px;
    border: 2px double black;
    margin-left: 20px;}